/*appoinment css*/
.appoinment {
    padding-left: 135px;
    padding-right: 135px;
    @media only screen and (min-width: 1500px) and (max-width: 1660px) {
        padding: 0px 65px;
    }
    @include respond(laptop) {
        padding: 0px 20px;
    }
    @include respond(lg) {
        padding: 0px 0px;
    }
    .appoinment-title {
        color: $white;
        font-size: 30px;
        line-height: 40px;
        @include respond(lg) {
            text-align: center;
            margin-bottom: 20px;
        }
    }
    &__wrap{
        background: $theme-color;
        padding-left: 120px;
        padding-right: 120px;
        @media only screen and (min-width: 1500px) and (max-width: 1660px) {
            padding-left: 70px;
            padding-right: 70px;
        }
        @include respond(laptop) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include respond(lg) {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 40px;
            padding-bottom: 50px;
        }
        @include respond(sm) {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 40px;
            padding-bottom: 50px;
        }
        @include respond(xs) {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 40px;
            padding-bottom: 50px;
        }
    }
    .form__group {
        @include d-flex;
        align-items: center;
        padding-left: -15px;
        @include respond(lg) {
            padding-left: -10px;
        }
        @include respond(lg) {
            padding-left: -0px;
        }
        @include respond(md) {
            justify-content: center;
            margin-top: -20px;
        }
        &--item {
            position: relative;
            padding: 0px 15px;
            @include flexWidth(35%);
            @include respond(lg) {
                padding: 0px 10px;
            }
            @include respond(md) {
                padding: 0px 0px;
                @include flexWidth(100%);
                margin-top: 20px;
            }
            label {
                color: $theme-color;
                position: absolute;
                top: 50%;
                left: 40px;
                transform: translateY(-50%);
                z-index: 1;
                @include respond(md) {
                    left: 30px;
                }
            }
            input {
                border-radius: 0px;
                padding: 28px 40px;
                background: $white;
                border: none;
                color: $primary-color;
                padding-left: 55px;
                font-family: $roboto;
                width: 100%;
                font-weight: 500;
                @include placeholder($primary-color !important);
            }
            &:nth-child(3) {
                @include flexWidth(30%);
                @include respond(md) {
                    @include flexWidth(60%);
                }
                @include respond(sm) {
                    @include flexWidth(60%);
                }
                @include respond(xs) {
                    @include flexWidth(100%);
                }
            }
        }
        .nice-select {
            height: 80px !important;
            background: $white;
            color: $primary-color;
            border-radius: 0px;
            line-height: 80px !important;
            width: 100%;
            border: none;
            padding-left: 55px;
            &::after {
                display: none;
            }
            .current {
                font-weight: 700;
                font-family: $roboto;
            }
            .list {
                width: 100%;
                border-radius: 0px;
            }
        }
        button {
            height: 80px;
            width: 100%;
            color: $white;
            border: none;
            text-align: center;
            background: $theme-color-dark;
            i {
                margin-right: 10px;
            }
            &:hover {
                background: $primary-color;
            }
        }
    }
}