/*Video area css*/
.video__area {
    margin: 0px 210px;
    position: relative;
    width: auto;
    @media only screen and (min-width: 1500px) and (max-width: 1690px) {
        margin: 0 100px;
    }
    @include respond(laptop) {
        margin: 0 50px;
    }
    @include respond(lg) {
        margin: 0 25px;
    }
    @include respond(md) {
        margin: 0 0px;
    }
    &--2 {
        margin: 0px 0px;
    }
}

.video__bg {
    @include respond(md) {
        padding-right: 0px;
    }
    img {
        width: 100%;
    }
}

.video-content-wrap {
    background: $white;
    padding: 60px;
    padding-bottom: 70px;
    position: relative;
    @include respond(xs) {
        padding: 30px;
        padding-bottom: 60px;
    }
    @media (max-width: 430px) {
        padding: 15px;
        padding-bottom: 50px;
    }
    .site-btn {
        position: absolute;
        left: 60px;
        bottom: -30px;
        @include respond(xs) {
            left: 30px;
        }
    }
}

.video-content-wrap-2 {
    margin-top: 65px;
    padding: 0px;
    background: transparent;
    .video-link {
        &:hover {
            .video-play {
                @include transform(scale3d(1, 1, 1));
                background: $primary-color;
            }
        }
    }
    .video-play-wrap {
        width: 80px;
        height: 80px;
        margin-bottom: 50px;
        position: relative;
        margin-left: 12px;
        z-index: 1;
        &::after {
            background: $white;
            left: -12px;
            top: -12px;
            width: 105px;
            height: 105px;
            content: "";
            position: absolute;
            z-index: -1;
        }
        .video-play {
            width: 80px;
            height: 80px;
            line-height: 85px;
            background: $theme-color;
            color: $white;
        }
    }
}

.video-btn-wrap {
    @include respond(md) {
        text-align: center;
        margin-top: 130px;
    }
    @include respond(xs) {
        text-align: center;
        margin-top: 100px;
    }
}