@import "./_reset";

/* global css start */
.nice-select {
	background-color: transparent;
	height: 40px !important;
	line-height: 40px !important;
	min-height: 40px !important;
	padding: 0 30px;
	span {
		color: $primary-color;
	}
	.list {
		@include shadow1;
		li {
			margin-right: 0 !important;
		}
		.option {
			color: $primary-color;
			&.selected,
			&:hover {
				border: none !important;
			}
		}
	}
}

/* global css end */
.bg_img{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.grey-bg {
	background: $grey;
}

.section__heading {
  position: relative;
  z-index: 1;
  &--title-small {
    position: relative;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
    span {
      color: $theme-color;
    }
  }
  &--title {
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 60px;
    @include respond(md) {
      font-size: 36px;
      line-height: 42px;
    }
    @media (max-width: 490px) {
        font-size: 30px;
        line-height: 38px;
    }
    span {
      color: $theme-color;
    }
  }
  &--transparent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 160px;
    color: $grey-light;
    top: -43px;
    z-index: -1;
    letter-spacing: -3px;
    line-height: 130px;
    width: 100%;
    @include respond(md) {
      font-size: 100px;
    }
    @media (max-width: 490px) {
        font-size: 80px;
    }
    @media (max-width: 400px) {
        font-size: 70px;
    }
  }
  &--content {
    position: relative;
    padding-left: 32px;
    line-height: 28px;
    &::after {
      left: 0;
      content: "";
      position: absolute;
      height: 72px;
      width: 2px;
      background: $theme-color;
      transform: translateY(-50%);
      top: 50%;
    }
  }
}

.section__heading.white {
  color: $white;
  .section__heading--title-small {
    color: $white;
    position: relative;
    z-index: 2;
  }
  .section__heading--transparent {
    color: $primary-color-light;
    z-index: 1;
  }
  .section__heading--title {
    color: $white;
    position: relative;
    z-index: 2;
  }
}

.white {
  color: $white;
}

.f-right {
  float: right;
}

.bl-0 {
  border-left: 0px !important;
}
.br-0 {
  border-right: 0px !important;
  text-decoration: underline;
}

.mmt-auto {
  @include respond(lg) {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}