// font family
$roboto: 'Roboto', sans-serif;
$cerebri: 'Cerebri Sans';

// Colors variable
$primary-color: #001D23;
$primary-color-2: #02262D;
$primary-color-3: #001216;
$primary-color-4: #03262D;
$primary-color-5: #022830;
$primary-color-light: #02262D;
$primary-color-dark: #00161B;
$white: #ffffff;
$black: #000;
$green: #3AB54E;
$grey:#F8F8F8;
$grey-light:#F5F9FA; 
$grey-light-2:#F0F0F0; 
$grey-light-3:#F9F9F9; 
$grey-light-4:#9AB7BE; 
$grey-light-5:#DDEAED; 
$grey-light-6:#FAFAFA; 
$grey-light-7:#BFCACC; 
$border-light:#E9F4FF;
$border-light-2:#E5E8E9;
$border-light-3:#E7F1F6;
$border-dark:#EFEFEF;
$border-dark-2:#E6EFF1;
$border-dark-3:#E6E6E6;
$border-dark-4:#E1EDF3;
$border-dark-5:#1A3439;
$border-dark-6:#052C34;
$theme-color: #086AD8;
$theme-color-light: #E6F0FB;
$theme-color-light-2: #1171DE;
$theme-color-dark: #004189;
$theme-color-dark-2: #005ABF;
$transparent-border: #646F6F;
$transparent-border-2: #40555D;
$transparent-border-3: #2179DC;
$transparent-border-4: #09333C;